/***********************************************************************
	COLOR VARIABLES
***********************************************************************/
body {
	/* Arc-specific color variables */
	--clrArcWindowLight: #e7e8eb;
	--clrArcWindowDark: #2f343f;
	--clrArcBorderLight: #d4d5db;
	--clrArcBorderDark: #262a33;

	--clrArcTabIndicatorLight: #eff0f3;
	--clrArcTabIndicatorDark: #323744;

	--clrArcHeaderTextLight: #525d76cc;
	--clrArcHeaderTextDark: #cfdae3cc;
	--clrArcHeaderTextHoverLight: #525d76;
	--clrArcHeaderTextHoverDark: #cfdae3;

	--clrArcSidebar: #353945;
	--clrArcSidebarBorder: #2a2d37;
	--clrArcSidebarText: #bac3cf;
	--clrArcSidebarTextActive: #ffffff;
	--clrArcSidebarHover: #494e5a;

	--clrArcInputBgLight: #ffffff;
	--clrArcInputBorderLight: #cfd6e6;
	--clrArcInputBgDark: #404552;
	--clrArcInputBorderDark: #2b2e39;

	--clrArcToolbtnBgHoverLight: #ffffff;
	--clrArcToolbtnBorderHoverLight: #cfd6e6;
	--clrArcToolbtnBgHoverDark: #505666;
	--clrArcToolbtnBorderHoverDark: #2b2e39;
	--clrArcToolbtnBgActiveLight: var(--colorHighlightBg);
	--clrArcToolbtnBorderActiveLight: var(--colorHighlightBg);
	--clrArcToolbtnBgActiveDark: var(--colorHighlightBg);
	--clrArcToolbtnBorderActiveDark: #2b2e39;
	--clrArcToolbtnActiveText: #ffffff;
	--clrArcToolbtnBadge: #8a9199;

	/* Additional variables for Darker theme */
	--colorAccentBg_Darker: #dddee1;
	--colorAccentBgAlpha_Darker: #ffffff66;
	--colorAccentFg_Darker: #000000;
	--colorAccentFgFaded_Darker: #8c8c8e;
	--colorBgAlpha_Darker: #383c4acc;
	--colorBgIntenser_Darker: #242836;
	--colorFg_Darker: #d3dae3;
	--colorFgFaded_Darker: #c9d0d9;
	--colorFgFadedMost_Darker: #a7adb6;
	--colorFgIntense_Darker: #f9ffff;
}

/***********************************************************************
	TAB CONTAINER
***********************************************************************/
/* Padding */
.linux.normal #tabs-tabbar-container.top,
.tabs-at-edge #tabs-tabbar-container.top {
	padding-top: 3px;
}

#tabs-tabbar-container.bottom {
	padding-bottom: 3px;
}

/* Background/text color */
#tabs-tabbar-container,
#tabs-container {
	background-color: var(--clrArcWindowLight);
	color: var(--clrArcHeaderTextLight);
}

.theme-dark #tabs-tabbar-container,
.theme-dark #tabs-container,
.theme-light.acc-dark #tabs-tabbar-container.top,
.theme-light.acc-dark #tabs-container.top {
	background-color: var(--clrArcWindowDark);
	color: var(--clrArcHeaderTextDark);
}

/* Border */
#tabs-tabbar-container.top {
	border-bottom: 1px solid var(--clrArcBorderLight) !important;
}

.theme-dark #tabs-tabbar-container.top,
.theme-light.acc-dark #tabs-tabbar-container.top {
	border-bottom: 1px solid var(--clrArcBorderDark) !important;
}

#tabs-tabbar-container.bottom {
	border-top: 1px solid var(--clrArcBorderLight) !important;
}

.theme-dark #tabs-tabbar-container.bottom {
	border-top: 1px solid var(--clrArcBorderDark) !important;
}

/* Darker theme: dark icon color when tabs on bottom */
.theme-light.acc-dark #tabs-container.bottom .newtab button,
.theme-light.acc-dark #tabs-container.bottom .toolbar-tabbar.sync-and-trash-container button {
	fill: var(--colorAccentFg_Darker);
}

/***********************************************************************
	TAB SUB-CONTAINER (TWO-LEVEL TAB STACKING)
***********************************************************************/
/* Background */
.color-behind-tabs-on #tabs-subcontainer {
	background-color: var(--clrArcWindowLight);
}

.theme-dark #tabs-subcontainer,
.theme-light.acc-dark #tabs-subcontainer.top {
	background-color: var(--clrArcWindowDark);
}

/* Border */
#tabs-subcontainer.top {
	box-shadow: none;
	border-top: 1px solid var(--clrArcBorderLight);
}

.theme-dark #tabs-subcontainer.top,
.theme-light.acc-dark #tabs-subcontainer.top {
	box-shadow: none;
	border-top: 1px solid var(--clrArcBorderDark);
}

#tabs-subcontainer.bottom {
	box-shadow: none;
	border-bottom: 1px solid var(--clrArcBorderLight);
}

.theme-dark #tabs-subcontainer.bottom {
	box-shadow: none;
	border-bottom: 1px solid var(--clrArcBorderDark);
}

/* Darker theme: dark icon color when tabs on bottom */
.theme-light.acc-dark #tabs-subcontainer.bottom .newtab button,
.theme-light.acc-dark #tabs-subcontainer.bottom .toolbar-tabbar.subcontainer-lock button {
	fill: var(--colorAccentFg_Darker);
}

/***********************************************************************
	TABS
***********************************************************************/
/* Tab title font + right fade */
.tab-position .tab .title {
	font-size: 13px;
	-webkit-mask-image: -webkit-linear-gradient(180deg, transparent 0px, transparent 6px, #fff 10px);
	margin-right: 0px;
}

/* Border around hover/active tab */
.tab-position .tab {
	border: 1px solid transparent;
}

.tab-position .tab:hover,
.tab-position .tab.active {
	border: 1px solid var(--clrArcBorderLight);
}

.theme-dark .tab-position .tab:hover,
.theme-dark .tab-position .tab.active,
.theme-light.acc-dark #tabs-container.top .tab-position .tab:hover,
.theme-light.acc-dark #tabs-container.top .tab-position .tab.active,
.theme-light.acc-dark #tabs-subcontainer.top .tab-position .tab:hover,
.theme-light.acc-dark #tabs-subcontainer.top .tab-position .tab.active {
	border: 1px solid var(--clrArcBorderDark);
}

/* Ensure active tab is on top of tab strip border */
#tabs-container.top .tab-position:not(.is-substack) .tab.active,
#tabs-subcontainer.top .tab-position .tab.active {
	border-bottom-color: var(--colorBg) !important;
}

#tabs-container.bottom .tab-position:not(.is-substack) .tab.active,
#tabs-subcontainer.bottom .tab-position .tab.active {
	border-top-color: var(--colorBg) !important;
}

#tabs-container.top .tab-position .tab,
#tabs-subcontainer.top .tab-position .tab {
	margin-bottom: -1px;
}

#tabs-container.bottom .tab-position .tab,
#tabs-subcontainer.bottom .tab-position .tab {
	margin-top: -1px;
}

/* Tab hover text color */
.color-behind-tabs-on .tab-position .tab:hover:not(.active) {
	color: var(--clrArcHeaderTextHoverLight);
}

.theme-dark .tab-position .tab:hover:not(.active),
.theme-light.acc-dark #tabs-container.top .tab-position .tab:hover:not(.active),
.theme-light.acc-dark #tabs-subcontainer.top .tab-position .tab:hover:not(.active) {
	color: var(--clrArcHeaderTextHoverDark);
}

/* Darker theme: tab progress indicator when tabs on bottom */
.theme-light.acc-dark #tabs-container.bottom .tab-position .tab .progress-indicator {
	background-color: var(--colorAccentFgFaded_Darker);
}

/* Dark/Darker theme: inactive tab hover color */
.theme-dark .tab-position .tab:hover:not(.active) {
	background-color: var(--colorBgAlpha);
}

.theme-light.acc-dark #tabs-container.top .tab-position .tab:hover:not(.active),
.theme-light.acc-dark #tabs-subcontainer.top .tab-position .tab:hover:not(.active) {
	background-color: var(--colorBgAlpha_Darker);
}

/* Dark theme: Remove light border around active tab favicon */
.theme-dark .tab-position .tab.active .tab-header .favicon:not(.svg) {
	filter: none;
}

/* Darker theme: Fix stack count indicator on inactive tab when it is a stack header */
.theme-light.acc-dark #tabs-container.bottom .tab-position .tab:not(.active) .stack-counter {
	background-color: var(--colorAccentBgAlpha_Darker);
	color: var(--colorAccentFg_Darker);
}

/* Remove border around inactive tab when it is a stack header (two-level tab stacking) */
.svg-tab-stack .inner {
	stroke: transparent;
}

/* Remove bottom border radius for active tab when it is a stack header */
.tab-position.is-substack > .tab.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/***********************************************************************
	TAB INDICATORS (COMPACT TAB STACKING)
***********************************************************************/
/* Tab indicator group */
.tab-group-indicator {
	top: 0;
	background-color: var(--clrArcWindowLight);
	border-bottom: 1px solid var(--clrArcBorderLight);
	padding-left: 0;
	padding-right: 0;
	margin-right: 1px;
}

.theme-dark .tab-group-indicator,
.theme-light.acc-dark.tabs-top .tab-group-indicator {
	background-color: var(--clrArcWindowDark);
	border-bottom: 1px solid var(--clrArcBorderDark);
}

.tabs-bottom .tab-group-indicator {
	bottom: 0;
	border-bottom: 0;
	border-top: 1px solid var(--clrArcBorderLight);
}

.theme-dark.tabs-bottom .tab-group-indicator {
	border-top: 1px solid var(--clrArcBorderDark);
}

/* Tab indicator position/size/border */
.tab-indicator {
	height: 5px !important;
	margin-bottom: -1px;
	border-top: 0 !important;
	border-bottom: 0 !important;
	border: 1px solid var(--clrArcBorderLight) !important;
}

.theme-dark .tab-indicator,
.theme-light.acc-dark.tabs-top .tab-indicator {
	border: 1px solid var(--clrArcBorderDark) !important;
}

.tabs-bottom .tab-indicator {
	margin-bottom: 0;
	margin-top: -1px;
}

.tab-indicator.active {
	border-top-width: 1px !important;
	border-bottom-width: 1px !important;
}

.tab.active + .tab-group-indicator .tab-indicator.active {
	border-bottom-color: var(--colorBg) !important;
}

.tabs-bottom .tab.active + .tab-group-indicator .tab-indicator.active {
	border-top-color: var(--colorBg) !important;
	border-bottom-color: var(--clrArcBorderLight) !important;
}

.theme-dark.tabs-bottom .tab.active + .tab-group-indicator .tab-indicator.active {
	border-bottom-color: var(--clrArcBorderDark) !important;
}

.tabs-top .tab-indicator:last-of-type,
.tabs-bottom .tab-indicator:last-of-type {
	margin-right: 0;
}

/* Tab indicator background */
.color-behind-tabs-on .tab-indicator {
	background-color: var(--clrArcTabIndicatorLight);
}

.theme-dark .tab-indicator,
.theme-light.acc-dark.tabs-top .tab-indicator {
	background-color: var(--clrArcTabIndicatorDark);
}

.color-behind-tabs-on .tab-indicator.active {
	background-color: var(--clrArcTabIndicatorLight);
}

.theme-dark .tab-indicator.active,
.theme-light.acc-dark.tabs-top .tab-indicator.active {
	background-color: var(--clrArcTabIndicatorDark);
}

/***********************************************************************
	ADDRESSBAR
***********************************************************************/
/* Merge addressbar on top with header if tabs are not on top */
#browser.address-top:not(.tabs-top) #main {
	margin-top: -25px;
}

#browser.address-top:not(.tabs-top) #titlebar {
	z-index: 1;
}

#browser.address-top:not(.tabs-top) .toolbar-mainbar.UrlBar {
	padding: 0 90px 0 40px;
}

#browser.alt.address-top:not(.tabs-top) .toolbar-mainbar.UrlBar {
	padding: 0 40px 0 90px;
}

#browser.address-top:not(.tabs-top) #titlebar #pagetitle {
	display: none;
}

/* Background: addressbar on top same color as header if tabs are not on top */
#browser.address-top:not(.tabs-top) .toolbar-mainbar {
	background: var(--clrArcWindowLight);
}

#browser.theme-dark.address-top:not(.tabs-top) .toolbar-mainbar,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar {
	background: var(--clrArcWindowDark);
}

/* Background: addressbar on bottom if tabs are not on bottom */
#browser.address-bottom:not(.tabs-bottom) .toolbar-mainbar {
	background-color: var(--clrArcWindowLight);
}

#browser.theme-dark.address-bottom:not(.tabs-bottom) .toolbar-mainbar {
	background-color: var(--clrArcWindowDark);
}

/* Border (addressbar on top) */
#browser.address-top .toolbar-mainbar:after {
	background-color: var(--clrArcBorderLight);
}

#browser.theme-dark.address-top .toolbar-mainbar:after {
	background-color: var(--clrArcBorderDark);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar:after {
	background-color: var(--clrArcBorderDark);
}

/* Border (addressbar on bottom) */
#browser.address-bottom .toolbar-mainbar {
	box-shadow: none;
}

#browser.address-bottom:not(.tabs-bottom) .toolbar-mainbar {
	box-shadow: none;
	border-top: 1px solid var(--clrArcBorderLight);
}

#browser.theme-dark.address-bottom:not(.tabs-bottom) .toolbar-mainbar {
	border-top: 1px solid var(--clrArcBorderDark);
}

#browser.address-bottom.tabs-bottom .toolbar-mainbar.UrlBar {
	box-shadow: none;
	border-top: 1px solid var(--clrArcBorderLight);
}

#browser.theme-dark.address-bottom.tabs-bottom .toolbar-mainbar.UrlBar {
	border-top: 1px solid var(--clrArcBorderDark);
}

/***********************************************************************
	ADDRESSFIELD/SEARCHFIELD
***********************************************************************/
/* Input box */
.color-behind-tabs-on .UrlBar-AddressField,
.color-behind-tabs-on .UrlBar-SearchField {
	background-color: var(--clrArcInputBgLight);
	border-color: var(--clrArcInputBorderLight);
}

#browser.theme-dark .UrlBar-AddressField,
#browser.theme-dark .UrlBar-SearchField,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-AddressField,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-SearchField {
	background-color: var(--clrArcInputBgDark);
	border-color: var(--clrArcInputBorderDark);
}

#browser.theme-dark .UrlBar-AddressField:focus-within,
#browser.theme-dark .UrlBar-SearchField:focus-within,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-AddressField:focus-within,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-SearchField:focus-within {
	border-color: var(--colorHighlightBg);
}

/* Light/Darker themes: Input box in fullscreen */
.address-top-off .UrlBar .UrlBar-AddressField:focus-within,
.address-top-off .UrlBar .UrlBar-SearchField:focus-within,
.address-bottom-off .UrlBar .UrlBar-AddressField:focus-within,
.address-bottom-off .UrlBar .UrlBar-SearchField:focus-within {
	border-color: var(--colorHighlightBg);
}

/* Darker theme: URL text/colors when addressbar is on top and tabs are not on top */
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-AddressField,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-SearchField {
	color: var(--colorFg_Darker);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlFragment-Wrapper--ShouldHighlight {
	--HighlightColor: var(--colorFgIntense_Darker);
	--LowlightColor: var(--colorFgFadedMost_Darker);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlFragment-Wrapper:not(.UrlFragment-Wrapper--ShouldHighlight) {
	--HighlightColor: var(--colorFgIntense_Darker);
	--LowlightColor: var(--colorFgIntense_Darker);
}

/* Darker theme: not secure site warning text */
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .SiteInfoButton.warning {
	color: var(--colorFgFaded_Darker);
}

/* Darker theme: Pageload progressbar color */
#browser.theme-light.acc-dark .UrlBar-AddressField .pageload .pageload-indicator {
	background-color: var(--colorAccentBg_Darker);
}

/* Darker theme: Pageload progressbar color when addressbar is on top and tabs are not on top */
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-AddressField .pageload .pageload-indicator {
	background-color: var(--colorAccentBg);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-AddressField .pageload .pageload-indicator::-webkit-progress-value {
	background-color: var(--colorBgIntenser_Darker);
}

/* Darker theme: Pageload text colors when addressbar is on top and  tabs are not on top */
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .UrlBar-AddressField .pageload {
	color: var(--colorFg_Darker);
}

/* Bookmark button */
.bookmark-animated-fill,
#browser.theme-dark .bookmark-animated-fill,
#browser.theme-dark.acc-dark .bookmark-animated-fill {
	fill: var(--colorFg);
}

/* Darker theme: Bookmark button when addressbar is on top and tabs are not on top */
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .bookmark-animated-fill {
	fill: var(--colorFg_Darker);
}

/***********************************************************************
	HEADER
***********************************************************************/
/* Background/border */
#browser:not(.tabs-top) #header {
	background-color: var(--clrArcWindowLight) !important;
	border-bottom: 1px solid var(--clrArcBorderLight) !important;
	box-shadow: none !important;
}

#browser.theme-dark:not(.tabs-top) #header,
#browser.theme-light.acc-dark:not(.tabs-top) #header {
	background-color: var(--clrArcWindowDark) !important;
	border-bottom: 1px solid var(--clrArcBorderDark) !important;
}

/* Page title color */
#browser:not(.tabs-top) #titlebar #pagetitle {
	color: var(--clrArcHeaderTextLight);
}

#browser.theme-dark:not(.tabs-top) #titlebar #pagetitle,
#browser.theme-light.acc-dark:not(.tabs-top) #titlebar #pagetitle {
	color: var(--clrArcHeaderTextDark);
}

/* Vivaldi menu button vertical position */
#browser.tabs-top .vivaldi {
	top: -4px;
}

#browser.tabs-top.tabs-at-edge.maximized .vivaldi {
	top: 3px;
}

#browser.address-top:not(.tabs-top) .vivaldi {
	top: 5px;
}

/* Vivaldi menu button color */
.vivaldi {
	fill: var(--colorAccentFg);
}

/***********************************************************************
	PANEL
***********************************************************************/
/* Background */
#panels-container {
	background-color: var(--clrArcSidebar);
	border-right: 1px solid var(--clrArcSidebarBorder);
	box-shadow: none !important;
}

#panels-container.right {
	border-left: 1px solid var(--clrArcSidebarBorder);
	border-right: none;
}

#panels-container:not(.overlay):not(.icons) {
	border-color: var(--clrArcBorderLight);
}

#browser.theme-dark #panels-container:not(.overlay):not(.icons) {
	border-color: var(--clrArcBorderDark);
}

#panels-container.left #panels {
	padding-right: 0;
}

#panels-container.right #panels {
	padding-left: 0;
}

#panel_switch,
#switch {
	background-color: var(--clrArcSidebar);
	box-shadow: none !important;
}

#panels-container:not(.overlay):not(.icons) #panel_switch,
#panels-container:not(.overlay):not(.icons) #switch {
	border-right: 1px solid var(--clrArcSidebarBorder);
}

#panels-container.right:not(.overlay):not(.icons) #panel_switch,
#panels-container.right:not(.overlay):not(.icons) #switch {
	border-left: 1px solid var(--clrArcSidebarBorder);
	border-right: none;
}

#panel_switch:hover {
	background-color: var(--clrArcSidebarHover);
}

.panel-group {
	background-color: var(--colorBgAlphaBlur);
}

/* Toggle arrow color */
#panel_switch svg polygon {
	fill: var(--clrArcSidebarText);
}

/* Buttons */
#switch > button,
#switch .addwebpanel-wrapper > button {
	box-shadow: none !important;
	border: none !important;
	color: var(--clrArcSidebarText);
}

#switch > button:hover:not(.active),
#switch .addwebpanel-wrapper > button:hover:not(.active) {
	background-color: var(--clrArcSidebarHover) !important;
}

#switch > button:focus:not(.active),
#switch .addwebpanel-wrapper > button:focus:not(.active) {
	background-color: var(--clrArcSidebarHover) !important;
	color: var(--clrArcSidebarTextActive);
}

#switch > button.active:not(:focus),
#switch .addwebpanel-wrapper > button.active:not(:focus) {
	background-color: var(--colorHighlightBg) !important;
	color: var(--clrArcSidebarTextActive);
}

#switch > button.active,
#switch .addwebpanel-wrapper > button.active,
#switch > button.active:hover,
#switch .addwebpanel-wrapper > button.active:hover {
	background-color: var(--colorHighlightBg) !important;
	color: var(--clrArcSidebarTextActive);
}

#switch > button.active:not(:focus) svg .small-icon-fill,
#switch .addwebpanel-wrapper > button.active:not(:focus) svg .small-icon-fill {
	fill: var(--clrArcSidebarTextActive);
}

#switch > button.active:not(:focus) svg .small-icon-outline,
#switch .addwebpanel-wrapper > button.active:not(:focus) svg .small-icon-outline {
	fill: var(--clrArcSidebarTextActive);
}

/***********************************************************************
	START PAGE
***********************************************************************/
/* Searchfield */
.sdwrapper .iconmenu-container.SearchField {
	box-shadow: none;
	background-color: var(--clrArcInputBgLight);
	border: 1px solid var(--clrArcInputBorderLight);
}

.sdwrapper .iconmenu-container.SearchField:focus-within {
	box-shadow: 0 0 0 1px var(--colorHighlightBg);
	border: 1px solid var(--colorHighlightBg);
}

#browser.theme-dark .sdwrapper .iconmenu-container.SearchField {
	box-shadow: none;
	background-color: var(--clrArcInputBgDark);
	border: 1px solid var(--clrArcInputBorderDark);
}

#browser.theme-dark .sdwrapper .iconmenu-container.SearchField:focus-within {
	box-shadow: 0 0 0 1px var(--colorHighlightBg);
	border: 1px solid var(--colorHighlightBg);
}

/***********************************************************************
	SETTINGS PAGE
***********************************************************************/
/* Background/border/color */
.vivaldi-settings .settings-sidebar {
	background-color: var(--clrArcSidebar);
	border-right: 1px solid var(--clrArcSidebar);
	box-shadow: none;
	color: var(--clrArcSidebarText);
}

#browser.theme-dark .vivaldi-settings .settings-sidebar {
	border-right: 1px solid var(--clrArcSidebarBorder);
}

.vivaldi-settings .settings-sidebar .button-category {
	fill: var(--clrArcSidebarText);
}

/* Hover button */
.vivaldi-settings .settings-sidebar .button-category:hover:not(.category-selected) {
	background: var(--clrArcSidebarHover);
}

/* Selected button */
.vivaldi-settings .settings-sidebar .button-category.category-selected {
	background-color: var(--colorHighlightBg);
	border-top-color: transparent;
	border-bottom-color: transparent;
	color: var(--clrArcSidebarTextActive);
	fill: var(--clrArcSidebarTextActive);
}

/* Focused button */
.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row[data-selected] .button-category:not(:active) {
	background-color: var(--colorHighlightBg);
	border-color: transparent;
	box-shadow: none;
	color: var(--clrArcSidebarTextActive);
	fill: var(--clrArcSidebarTextActive);
}

/* Search field */
.vivaldi-settings .settings-sidebar .settings-navigation-header {
	padding: 15px 12px;
}

.settings-search {
	background-color: var(--clrArcInputBgDark);
	color: var(--colorFg_Darker);
}

.settings-search:not(:focus) {
	border-color: var(--clrArcInputBorderDark) !important;
}

/***********************************************************************
	TOOLBAR BUTTONS
***********************************************************************/
.toolbar-mainbar > .button-toolbar > button,
.toolbar-mainbar > .toolbar-group > .button-toolbar > button,
.color-behind-tabs-on .bookmark-bar button,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:not(:hover):not(:active):not(:focus):not(.button-pressed),
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:not(:hover):not(:active):not(:focus):not(.button-pressed) {
	box-shadow: none !important;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	font-size: 1.1em;
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar > .button-toolbar > button,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar > .toolbar-group > .button-toolbar > button {
	color: var(--colorFg_Darker);
}

/* Hover */
.toolbar-mainbar > .button-toolbar > button:hover,
.toolbar-mainbar > .toolbar-group > .button-toolbar > button:hover,
.color-behind-tabs-on .bookmark-bar button:hover,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:hover,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:hover {
	background-color: var(--clrArcToolbtnBgHoverLight);
	border-color: var(--clrArcToolbtnBorderHoverLight);
}

#browser.theme-dark .toolbar-mainbar > .button-toolbar > button:hover,
#browser.theme-dark .toolbar-mainbar > .toolbar-group > .button-toolbar > button:hover,
#browser.theme-dark.color-behind-tabs-on .bookmark-bar button:hover,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:hover,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:hover {
	background-color: var(--clrArcToolbtnBgHoverDark);
	border-color: var(--clrArcToolbtnBorderHoverDark);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar > .button-toolbar > button:hover,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar > .toolbar-group > .button-toolbar > button:hover,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:hover,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:hover {
	background-color: var(--clrArcToolbtnBgHoverDark);
	border-color: var(--clrArcToolbtnBorderHoverDark);
}

/* Focus */
.color-behind-tabs-on .bookmark-bar button:focus,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:focus,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:focus {
	background-color: var(--clrArcToolbtnBgHoverLight);
	border-color: var(--clrArcToolbtnBorderHoverLight);
}

#browser.theme-dark.color-behind-tabs-on .bookmark-bar button:focus,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:focus,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:focus {
	background-color: var(--clrArcToolbtnBgHoverDark);
	border-color: var(--clrArcToolbtnBorderHoverDark);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:focus,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:focus {
	background-color: var(--clrArcToolbtnBgHoverDark);
	border-color: var(--clrArcToolbtnBorderHoverDark);
}

/* Active */
.toolbar-mainbar > .button-toolbar > button:active,
.toolbar-mainbar > .toolbar-group > .button-toolbar > button:active,
.color-behind-tabs-on .bookmark-bar button:active,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:active,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:active,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button.button-pressed:active,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button.button-pressed:active {
	background-color: var(--clrArcToolbtnBgActiveLight);
	border-color: var(--clrArcToolbtnBorderActiveLight);
	color: var(--clrArcToolbtnActiveText);
}

#browser.theme-dark .toolbar-mainbar > .button-toolbar > button:active,
#browser.theme-dark .toolbar-mainbar > .toolbar-group > .button-toolbar > button:active,
#browser.theme-dark.color-behind-tabs-on .bookmark-bar button:active,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:active,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:active,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button.button-pressed:active,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button.button-pressed:active {
	background-color: var(--clrArcToolbtnBgActiveDark);
	border-color: var(--clrArcToolbtnBorderActiveDark);
	color: var(--clrArcToolbtnActiveText);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar > .button-toolbar > button:active,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar > .toolbar-group > .button-toolbar > button:active,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button:active,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button:active,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button.button-pressed:active,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button.button-pressed:active {
	background-color: var(--clrArcToolbtnBgActiveDark);
	border-color: var(--clrArcToolbtnBorderActiveDark);
	color: var(--clrArcToolbtnActiveText);
}

/* Pressed */
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button.button-pressed,
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button.button-pressed {
	background-color: var(--clrArcToolbtnBgHoverLight);
	border-color: var(--clrArcToolbtnBorderHoverLight);
}

#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button.button-pressed,
#browser.theme-dark .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button.button-pressed {
	background-color: var(--clrArcToolbtnBgHoverDark);
	border-color: var(--clrArcToolbtnBorderHoverDark);
}

#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button.button-pressed,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button.button-pressed {
	background-color: var(--clrArcToolbtnBgHoverDark);
	border-color: var(--clrArcToolbtnBorderHoverDark);
	color: var(--colorFg_Darker);
}

/* Fix folder icon color on hover/active states */
.color-behind-tabs-on .bookmark-bar button:active svg.folder-icon .fill-override {
	fill: var(--clrArcToolbtnActiveText);
}

/* Remove highlight on bookmark toolbar separator hover */
.color-behind-tabs-on .bookmark-bar button:hover:not([title]),
.color-behind-tabs-on .bookmark-bar button:focus:not([title]) {
	background-color: transparent;
	border-color: transparent;
}

/* Hidden extension button background when expanded */
.color-behind-tabs-on .toolbar-mainbar > .button-toolbar > button.button-pressed,
.color-behind-tabs-on .toolbar-mainbar > .button-toolbar > button.button-pressed:active {
	background-image: none;
}

/* Extension button badges */
.button-badge {
	background-color: var(--clrArcToolbtnBadge);
}

/***********************************************************************
	STATUS INFO OVERLAY
***********************************************************************/
#webview-container ~ .StatusInfo .StatusInfo-Content {
	background-color: var(--colorHighlightBg);
	color: var(--clrArcToolbtnActiveText);
	border: 0;
}
