/***********************************************************************
	COLOR VARIABLES
***********************************************************************/
body {
	--clrArcWindowLight: #e7e8eb;
	--clrArcWindowDark: #2f343f;
	--clrArcBorderLight: #d4d5db;
	--clrArcBorderDark: #262a33;
}

/***********************************************************************
	TAB CONTAINER TOP
***********************************************************************/
/* Background */
#tabs-tabbar-container.top, #tabs-container.top {
	background-color: var(--clrArcWindowLight);
}

/* Dark background for Dark/Darker themes */
.theme-dark #tabs-tabbar-container.top, .theme-dark #tabs-container.top,
.theme-light.acc-dark #tabs-tabbar-container.top, .theme-light.acc-dark #tabs-container.top {
	background-color: var(--clrArcWindowDark);
}

/* Border */
#tabs-tabbar-container.top {
	border-bottom: 1px solid var(--clrArcBorderLight) !important;
}

/* Dark border for Dark/Darker themes */
.theme-dark #tabs-tabbar-container.top,
.theme-light.acc-dark #tabs-tabbar-container.top {
	border-bottom: 1px solid var(--clrArcBorderDark) !important;
}

/***********************************************************************
	TAB CONTAINER BOTTOM
***********************************************************************/
/* Background */
#tabs-tabbar-container.bottom, #tabs-container.bottom {
	background-color: var(--clrArcWindowLight);
}

/* Dark background for Dark theme */
.theme-dark #tabs-tabbar-container.bottom, .theme-dark #tabs-container.bottom {
	background-color: var(--clrArcWindowDark);
}

/* Border */
#tabs-tabbar-container.bottom {
	border-top: 1px solid var(--clrArcBorderLight) !important;
}

/* Dark border for Dark theme */
.theme-dark #tabs-tabbar-container.bottom {
	border-top: 1px solid var(--clrArcBorderDark) !important;
}

/***********************************************************************
	TABS ANY
***********************************************************************/
/* Tab title font + right fade */
.tab-position .tab .title {
	font-size: 13px;
	-webkit-mask-image: -webkit-linear-gradient(180deg, transparent 0px, transparent 6px, #fff 14px);
}

/***********************************************************************
	TABS TOP
***********************************************************************/
/* Border around hover/active tab */
#tabs-container.top .tab-position .tab {
	border: 1px solid transparent;
	border-bottom-width: 0 !important;
}

#tabs-container.top .tab-position .tab:hover,
#tabs-container.top .tab-position .tab.active {
	border: 1px solid var(--clrArcBorderLight);
}

/* Dark border for Dark/Darker themes */
.theme-dark #tabs-container.top .tab-position .tab:hover,
.theme-dark #tabs-container.top .tab-position .tab.active,
.theme-light.acc-dark #tabs-container.top .tab-position .tab:hover,
.theme-light.acc-dark #tabs-container.top .tab-position .tab.active {
	border: 1px solid var(--clrArcBorderDark);
}

/* Ensure active tab is on top of tab strip border */
#tabs-container.top .tab-position .tab.active {
	margin-bottom: -1px;
}

/***********************************************************************
	TABS BOTTOM
***********************************************************************/
/* Border around hover/active tab */
#tabs-container.bottom .tab-position .tab {
	border: 1px solid transparent;
	border-top-width: 0 !important;
}

#tabs-container.bottom .tab-position .tab:hover,
#tabs-container.bottom .tab-position .tab.active {
	border: 1px solid var(--clrArcBorderLight);
}

/* Dark border for Dark theme */
.theme-dark #tabs-container.bottom .tab-position .tab:hover,
.theme-dark #tabs-container.bottom .tab-position .tab.active {
	border: 1px solid var(--clrArcBorderDark);
}

/* Ensure active tab is on top of tab strip border */
#tabs-container.bottom .tab-position .tab.active {
	margin-top: -1px;
}

/***********************************************************************
	TABS TOP/BOTTOM
***********************************************************************/
/* Inactive tab hover color when tab strip is dark */
.theme-dark #tabs-container.top .tab-position .tab:hover:not(.active),
.theme-dark #tabs-container.bottom .tab-position .tab:hover:not(.active) {
	background-color: var(--colorBgAlpha);
}

.theme-light.acc-dark #tabs-container.top .tab-position .tab:hover:not(.active) {
	background-color: #383c4acc;
}

/***********************************************************************
	ADDRESSBAR TOP
***********************************************************************/
/* Merge addressbar with header if tabs are not on top */
#browser.address-top:not(.tabs-top) #main {
	margin-top: -25px;
}

#browser.address-top:not(.tabs-top) #titlebar {
	z-index: 1;
}

#browser.address-top:not(.tabs-top) .toolbar-mainbar.UrlBar {
	padding: 0 90px 0 40px;
}

#browser.alt.address-top:not(.tabs-top) .toolbar-mainbar.UrlBar {
	padding: 0 40px 0 90px;
}

#browser.address-top:not(.tabs-top) #titlebar #pagetitle {
	display: none;
}

/* Make addressbar same color as header if tabs are not on top */
#browser.address-top:not(.tabs-top) .toolbar-mainbar {
	background: var(--clrArcWindowLight);
}

#browser.theme-dark.address-top:not(.tabs-top) .toolbar-mainbar,
#browser.theme-light.acc-dark.address-top:not(.tabs-top) .toolbar-mainbar {
	background: var(--clrArcWindowDark);
}
